*.tfout
*.bak
.idea
.DS_Store
.terraform
*.plan
terraform/*.json
terraform/*.plan
terraform/static/.terraform
terraform/static/.terraform.lock.hcl
terraform/network/.terraform
terraform/network/.terraform.lock.hcl
terraform/infra/.terraform
terraform/infra/.terraform.lock.hcl
terraform/monitoring/.terraform
terraform/monitoring/.terraform.lock.hcl